* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fjalla One", sans-serif; 
}
@font-face {
    font-family: 'Fjalla One';
    src: url('FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



body {
    background-color: rgb(49,52,63);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.navbar {
    justify-content:center;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    text-decoration: none;

}

.brand-title {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    color: rgb(241,233,212);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-card {
    background-color: rgb(241,233,212);
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 1.5rem;

}

a {
    color: rgb(241,233,212);
    text-decoration: none;
}

.navbar-links li:hover {
    background-color: rgb(185, 185, 185);
    color: white;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(241,233,212);
    border-radius: 10px;
}

@media (max-width:600px) {
    .toggle-button {
        color: rgb(241,233,212);
        display: flex;
    }
    .navbar-links {
        display:none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .brand-title {
        width: 100%;
        text-align: left;
        justify-content: left;
    }
    .card {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}

@media (min-width: 601px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        background-color: rgb(49,52,63);
        column-gap: 5%;
    }
    
    .grid-card {
        background-color: rgb(241,233,212);
        border-radius: 30px;
        color: black;
        border-color: black;
        margin-left: 30px;
    }
    
    .grid-rankings {
        background-color: rgb(241,233,212);
        border-radius: 30px;
        color: black;
        margin-right: 30px;
    }
    
    .grid-minigame {
        background-color: rgb(202,217,193);
        border-radius: 30px;
        color: black;
    }
    

}

@media (max-width: 600px) {
    .gridcontainer {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        row-gap: 10%;
    }
    .grid-card {
        background-color: rgb(241,233,212);
        border-radius: 30px;
        color: black;
        border-color: black;
    }
    .grid-rankings {
        background-color: rgb(241,233,212);
        border-radius: 30px;
        color: black;
    }
    .grid-minigame {
        background-color: rgb(202,217,193);
        border-radius: 30px;
        color: black;
    }
}

.card {
    width: 100%;
    min-width: 200px;
}

/* Penalty Game */
@media (min-width: 1149px) {
.gamescreen {
    width: 100%;
    background-color: green;
    height: 400px;
}
.goal {
    width: 80%;
    position: relative;
    left: 10%;
    top: 5%;
    background-color: white;
    height: 200px;
    border: 2px solid black;

}
.ball {
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 50%;
    position: relative;
    top: 30%;
    left: 45%;
}

.goalie {
    height: 100px;
    width: 60px;
    background-color: blue;
    position: relative;
    left: 45%;
    top: 50%;
}

}


